<%- include('./partial/header.ejs',{title: 'Home Page'}) %>
<%-include('./partial/navbar.ejs')%>
<div class="container">
  <% if(notif) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%=notif%>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %>
<div class="row mt-5">
    <div class="col-11">
        <form action="/nft" method="get">
            <div class="form-group">
                <div class="row">
                <div class="col-10">
                    <input type="text" id="search" name="search" class="form-control" placeholder="Search">
                </div>
                <div class="col-2">
                    <input type="submit" value="search" class="btn btn-info" style="display: inline-block;">
                </div>
            </div>
            </div>
        </form>
    </div>
    <div class="col-1">
    </div>
</div>

<div class="dropdown float-left" style="margin-top: 15px;">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/nft?sort=name">Alphabetical</a>
        <a class="dropdown-item" href="/nft?sort=mostRecent">Most Recent</a>
    </div>
</div>
<br>
<br>
<br>
<div>
    <% data.forEach((el) => { %>
        <div class="row:after">
            <div class="column" style="float: left; width: 50%; display: flex; height: 70vh;" >
                <div class="card card-body h-100" >
                    <img height="50%" src="<%= el.imageUrl %>" class="card-img-top" alt="..." >
                    <div class="card-body">
                        <h5 class="card-title"><%= el.name %></h5>
                        <div class="text-truncate" style="margin-top: 30px;height: 25%">
                            <i><%- el.description %></i>
                        </div>
                        <br>
                        <p>
                            Sell Availability : <%if(el.availability){%>✔<% }else{ %>❌<% } %>
                        </p>
                        <br>
                        <a href="/nft/<%=el.id%>" class="btn btn-primary">See Detail</a>
                        <%if(userData.role == 'admin'){%>
                          <a href="/nft/<%=el.id%>/delete" class="btn btn-danger">Delete</a>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
</div>
<%- include('./partial/footer.ejs') %> 

