<%- include('./partial/header.ejs',{title: 'Home Page'}) %> 
<%-include('./partial/navbar.ejs')%>
<h1>this is the home page</h1>
<div class="row mt-5">
        
    <div class="col-11">
        <form action="/" method="get">
            <div class="form-group">
                <div class="row">
                <div class="col-10">
                    <input type="text" id="search" name="search" class="form-control" placeholder="Search">
                </div>
                <div class="col-2">
                    <input type="submit" value="search" class="btn btn-info" style="display: inline-block;">
                </div>
            </div>
            </div>
        </form>
    </div>
    <div class="col-1">
    </div>
</div>

<div class="dropdown float-left" style="margin-top: 15px;">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/?sort=name">Alphabetical</a>
        <a class="dropdown-item" href="/?sort=mostRecent">Most Recent</a>
    </div>
</div>

<br>
<br>
<div>
    <% data.forEach((el) => { %>
        <div class="row:after">
            <div class="column" style="float: left; width: 50%; display: flex; height: 70vh;" >
                <div class="card card-body h-100" >
                    <img height="50%" src="<%= el.imageUrl %>" class="card-img-top" alt="..." >
                    <div class="card-body">
                        <h5 class="card-title"><%= el.name %></h5>
                        <div style="margin-top: 30px;">
                            <%- el.description %>
                        </div>
                        <a href="" class="btn btn-primary">See Detail</a>
                        <a href="" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
<%- include('./partial/footer.ejs') %> 